@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{ width: 100%;

}
a{
    display: block;
    
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
