@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(18, 75, 233);
    background-size: contain;
    background-repeat: no-repeat;
   
}
h1{ color: white;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    padding: 10px;

}