@charset "UTF-8";
*{
font-family: 'Times New Roman', Times, serif;

}
body{
background-image: linear-gradient(to right, #20696B, #00B2B7  );

}
main{
background-color: white;
border-radius: 10px;
box-shadow: 5px, 5px, 15px, #005153;
width: 600px;
padding: 10px;
margin: auto;
}
h1{
color: #47E8EE;
text-align: center;
text-shadow: 1px,1px,3px,#003f41 ;

}
h2{
    color:#00686B ;
}

p {
text-align: justify;

}